$theme1: #61dafb;
$theme2: #e36720;
$theme3: #16fac2;
$background: #282c34;

//layout
#root {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  background: radial-gradient($background, #1f2329);
  overflow: hidden;
}
.header {
  width: 100%;
  background-color: #e36720;
  height: 3vh;
}
.main-container {
  display: inline-block;
  padding-top: 15vh;
  height: 50vh;
  width: 60vw;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

//main content
.logo-container {
  color: #3ebffa;
  opacity: 1;
  font-weight: 700;
  font-size: 60pt;
  display: inline-block;
  height: 15vh;
  border-radius: 10%;
  line-height: 30px;
}

.textbox-background {
  background-color: #171a1f;
  width: 60vw;
  border-radius: 50px;
  height: 33vh;
}
.input-container {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.input-tts {
  width: 55vw;
  height: 25vh;
  color: #ffffff;
  font-size: 15pt;
  border: 0 solid black;
  background-color: #171a1f;
}
.input-tts:focus {
  outline: none;
}

.event-container {
  height: 3vh;
  padding-top: 10px;
}

.button-container {
  padding-left: 50px;
  text-align: left;
}
.button {
  display: inline-block;
  background-color: aqua;
}

.convert-button {
  float: right;
  position: relative;
  top: -10px;
  left: -15px;
}

.radio {
  float: right;
  padding-right: 2vw;
  color: white;
}

button {
  width: 3vw;
  height: 3vh;
  font-size: 50%;
}

//footer image css

.ocean {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 100;
  left: 100;
  background: #015871;
}

.wave {
  background: url("../img/wave.svg") repeat-x;
  position: absolute;

  width: 6400px;
  height: 198px;
  animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.7s infinite,
    swell 7s ease -2s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

span {
  font-size: 15pt;
  font-weight: 700;
  color: white;
  position: relative;
  top: 0.3vh;
}

.left-header {
  float: left;

  padding-left: 1vw;
}

.right-header {
  float: right;
  padding-right: 1vw;
}
